<html>
<head>
<title>Bank branches page</title>

</head>

<body>


<h2>HDFC Bank Branches in Banglore City</h2>

<table border="2px">

    <tr>
        <th>Serial No.</th>
        <th>Branch Name</th>

    </tr>

    <tr>
        <td>1</td>
        <td>Electronic City</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Sarjapury</td>
    </tr>

    <tr>
        <td>3</td>
        <td>whitefiled</td>
    </tr>

    <tr>
        <td>4</td>
        <td>Old Airport Road</td>
    </tr>

    <tr>
        <td>5</td>
        <td>Mathikere</td>
    </tr>

    <tr>
        <td>6</td>
        <td>Kalyan Nagar</td>
    </tr>

    <tr>
        <td>7</td>
        <td>Devanahalli</td>
    </tr>

    <tr>
        <td>8</td>
        <td>Jakkasandra</td>
    </tr>

    <tr>
        <td>9</td>
        <td>Kanakapura</td>
    </tr>

    <tr>
        <td>10</td>
        <td>Chamrajpet</td>
    </tr>

</table>

</body>

</html>